Flask==2.3.3
Flask-JWT-Extended==4.6.0
Flask-Bcrypt==1.0.1
Flask-CORS==4.0.1
Flask-SQLAlchemy==3.0.5
Flask-SocketIO==5.3.6
geopy==2.4.1
numpy==1.26.4
pandas==2.2.2
reportlab==4.2.5
matplotlib==3.9.2
beautifulsoup4==4.12.3
gunicorn==21.2.0
eventlet==0.35.2
python-socketio==5.11.4
# لا تضع gevent أو greenlet
